body {
  margin: 0px;
  overflow-x: hidden;
  font-family: Verdana, sans-serif;
  font-size: 16px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div:has(img){
  filter:drop-shadow(0 0 10px rgba(0,0,0,0.2))
}


.drop-shadow{
   position: absolute;
  bottom:0%;
  left:0px;
  width:100%;
  height:100%;  
  z-index: -1;
/* box-shadow: 0 0 30px black; */

  filter: drop-shadow(0 0 30px rgba(0,0,0,1));
}
.background-one{
  width:100%;
  height:100%;
  background-color:#00201F;
  clip-path : polygon(0% 0% ,100% 50% , 100% 100% ,0% 100%);
}

.background-two{
  width:100%;
  height:100%;
  background-color:#003633;
  clip-path : polygon(0% 40% ,100% 20% , 100% 100% ,0% 100%);
}
.drop-shadow:has(.background-two){
  position: absolute;
  bottom:-50%;
  left:0px;
  width:100%;
  height:100%;  
  z-index: -1;
/* box-shadow: 0 0 30px black; */

  filter: drop-shadow(0 0 30px rgba(0,0,0,1));
}

.background-three{
  width:100%;
  height:100%;
  background-color:#00C1B8;
  clip-path : polygon(0% 20% ,100% 50% , 100% 100% ,0% 100%);

}
.drop-shadow:has(.background-three){
  position: absolute;
  bottom:-120%;
  left:0px;
  width:100%;
  height:180%;  
  z-index: -1;
/* box-shadow: 0 0 30px black; */

  filter: drop-shadow(0 0 30px rgba(0,0,0,1));
}

h1 {
  font-family: Georgia, serif;
  font-size: 36px;
  text-align: left;
  color: white;
  margin-bottom: 30px;
}
h2,
h3 {
  font-family: Georgia, serif;
}
legend {
  margin-inline: auto;
  padding: 10px;
}
fieldset {
  border: none;
  border-top: 2px solid #00c1b8;
  width: 300px;
  margin-inline: auto;
}

.border-top-white{
  border-top: 2px solid #FFF;
  
}
.circle {
  margin: 11px 5px;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

/* header / navbar */

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  padding: 1rem;
}
nav {
  width: 30%;
  margin-right: -10px;
}
#click-control + label{
  position: relative;
    
}
nav ul {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color:transparent;
}
.side-menu{
  display: none;
  position: relative;
}

.side-menu ul{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
gap: 30px;
  background-color: transparent;
}

nav ul li , .side-menu ul li {
  display: inline-block;
}
nav ul li a ,    ul li a{
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.side-menu a{
  margin-block: 50px;
}
nav a:link, .side-menu a:link
nav a:visited  .side-menu a:visited{
  color: white;
}
nav a , .side-menu a {
  position: relative;
}
nav a:not([data-active-link]):hover::before, .side-menu a:not([data-active-link]):hover::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 0px;
  background-color: #00c1b8;

  animation: nav-link-hover 0.3s linear forwards;
}
@keyframes nav-link-hover {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

a.active {
  border: 2px solid #00c1b8;
  border-radius: 5px;
}

#click-control , #click-control + label{
  display:none;
}

.side-menu{
  
  position: absolute;
  top:0;
  right:0;
  height:100vh;
  width:40%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.57);
  z-index: 100;
}
/* hero section */

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("img/hero_1.png") center no-repeat;
  background-size: cover;
}
.hero-2{
  position: relative;
  height: 40vh;
  width: 100%;
  background: url("img/hero2.jpg") center no-repeat;
  background-size: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.514);
}
.hero-2 .hero-text{
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  left: 5%;
  width: 50%;
  text-align: center;
  background-color: transparent;
  display: flex;

  flex-direction: column;
  justify-content: center;

  align-items: center;
}
.hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5%;
  width: 350px;
  text-align: center;
  background-color: transparent;
  display: flex;

  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.hero-text h1 > span {
  color: #00c1b8;
}

.hero-text a {
  display: inline-block;

  padding: 15px 62px;
  font-size: 26px;
  text-decoration: none;
  color: white;
  background-color: #00c1b8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.57) inset;
  border-radius: 11px;
}
.hero-pagination {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 160px;
  margin: auto;

  border: 2px solid #00c1b8;
  border-radius: 17px;
}
.hero-pagination div.active {
  background-color: #00c1b8;
}
.hero-pagination div.circle:hover {
  cursor: pointer;
  background-color: #61bdb9;
}

/* services-container */

.services-container {
  padding: 2%;
  /* background-color:red; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.service {
  height: 50%;
  display: flex;
  justify-content: space-between;

  flex-direction: row;
  /* background-color: blue; */
}

.service-img {
  height: 100%;
  width: 100%;

  border-radius: 25px;

  /* background-color: green; */
}
.service-text {
  /* height:auto; */
  width: 100%;

  /* background-color:yellow; */
  padding: 30px;
}
.service-two .service-text {
  order: 2;
}

.service-text p {
  margin-top: 5%;
  text-align: justify;
  line-height: 2rem;
}

.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3%;

  /* background-color: red; */
}

.about {
  margin-top: 5%;
  display: flex;
  /* background-color: blue; */
  height: 100%;
}
.about-text {
  /* background-color: yellow; */
  width: 100%;
  padding: 60px;
}
.about-img,
.about-img img {
  /* background-color:green; */
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.about-text p {
  margin-top: 5%;
  text-align: justify;
  line-height: 2rem;
}
.about-two .about-img {
  order: 1;
}

.about-two {
  margin-top: 5%;
}
/* team members */
.team-container {
  position: relative;
  display: flex;
  height: 100%;
  /* background-color: red; */

  justify-content: space-evenly;
}

.designer-card {
  margin: 5% auto;
  text-align: center;
  height: 100%;
  width: 20%;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.57) inset,0px -4px 10px rgba(0, 0, 0, 0.57) inset;
}

.designer-photo {
  width: 60%;

  margin-top: 5%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.57);
  border-radius: 50%;
}
.designer-name {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
}
.designer-title {
  font-size: 21px;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 5%;
}

/* contact-form */

.contact-container {
  margin-top: 5%;
  display: flex;

  justify-content: space-between;
  background-color: black;
  height: auto;
  padding: 5%;
}

.line {
  height: 300px;
  width: 1px;
  background-color: #00c1b8;
  left: 50%;
  top: 15%;
}
.contact-img {
  position: relative;
  height: 300px;

  border-radius: 25px;
}
.contact-details {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 5%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.contact-details p {
  color: white;
}
.contact-details p svg {
  border-radius: 10px;
}
.contact-details p svg:hover {
  cursor: pointer;
}
.contact-img img {
  border-radius: 25px;
  opacity: 0.5;
  width: 100%;
}
/* .contact-form {
  

 
} */
.text-input {
  display: inline-block;
  position: relative;
  
  /* background-color:red; */
}
.text-input label {
  
  position: absolute;
  left: 7.5%;
  top:50%;
  border-radius: 50%;
  translate: 0 -50%;
  /* font-size: 70%; */
  background-color: black;
  color: gray;
  /* color: #00c1b8; */
  padding-inline: 5px;
  cursor: text;
}

input[type="text"] ,textarea{
  width: auto;
  color: white;
  display: inline-block;
  border: 2px solid transparent;
  border-bottom: 2px solid #00c1b8;
  border-radius: 25px;
  transition: border 0.3s ease-in-out;
  height: 50px;
  padding-inline: 20px;
  background-color: transparent;
}
input:not(.inline-input, #click-control) {
  width: 100%;
}

.text-input:has(input:not(.inline-input)), textarea {
  width: 100%;
  margin-top: 5%;
}
textarea{
  
  resize: none;
  padding: 12px 10px;
  height: 100px;
}
.text-input:has(.inline-input) {
  width: 48%;
}
input[type="text"]:focus ,textarea{
  border: 2px solid #00c1b8;
  outline: none;
}

input[type="text"]:focus + label ,input[type="text"]:valid + label  {  
font-size: 80%;
top:0%;
left:10%;
color:#00C1B8;
  animation: input-label-animation 0.2s linear forwards;
}
@keyframes input-label-animation {
  from {
    top: 50%;
    transform: translateY(50%);

   
  }
  to {
    top: 0;



  }
}

#textarea-label{
top:16%;
color: #00C1B8;
}
/* FOOTER */

.footer {
  /* height:100px; */
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #00c1b8;
  color: white;
  padding: 10px;
}
.footer p span {
  color: #00c1b8;
}

.text-white{
  color:white;
}

/* media queries */

@media screen and (max-width: 775px) {
  nav {
    display: none;
  }

  .hero {
    height: 60vh;
    background-position: 1%;
  }
  .hero-text {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
  }

  .hero-text a {
   
   font-size: 16px;
  }
  .hero-pagination {
    left: 0%;
    transform: translateX(25%);
    bottom: 2%;
    width: 100px;
  }
  .service {
    flex-direction: column;
  }

  .service-one .service-text {
    order: 1;
  }

  .about {
    flex-direction: column;
  }
  .about-two .about-img,
  .about-one .about-img {
    order: 2;
  }
  .team-container {
    flex-direction: column;
  }

  .designer-card {
    width: auto;
  }
  .contact-container {
    flex-direction: column;
  }
  input.inline-input{
    width: 100%;
  }

  .line {
    width: 100%;
    height: 1px;
    margin-block: 25px;
  }
  .footer {
    gap: 20px;
    padding-block: 20px;
    flex-direction: column;
  }
  .footer p{
    font-size: 70%  ;
  }
  fieldset {
    width: 250px;
  }
  .background-three{
    width:100%;
    height:100%;
    background-color:#00C1B8;
    clip-path : polygon(0% 32% ,100% 40% , 100% 100% ,0% 100%);
  
  }

  .background-two{
  width:100%;
  height:100%;
  background-color:#003633;
  clip-path : polygon(0% 40% ,100% 20% , 100% 100% ,0% 100%);
}
 #click-control + label{
  display: revert;
}

body:has(#click-control:checked)  .side-menu {
display: block;
}

#click-control:checked + label{

  right:39%;
  border-radius: 15px 0 0 15px;
  padding:15px;
  background-color: rgba(0, 0, 0, 0.57);
}


}


/* gallery */

.category{
  margin-block:30px;
  
}
.category h3{
  margin:15px;
}
.sample{

  display: flex;
  flex-wrap: nowrap;
  height:auto;
  overflow-x: scroll;
 

}

@keyframes gallery-animation{
  
  from{
    left:0;
  }
  to{
    left:-100%;
  }
}
.sample img{
position: relative;
display: inline-block;
width:300px;
height:200px;
margin-inline:20px;
border-radius: 15px;
cursor: pointer;
margin-bottom: 10px;
transition: width 0.9s,height 1s;
 animation: gallery-animation 10s linear  infinite;

}


.sample img:hover  {
height:300px;
width:400px;

}
.sample:has(img:hover) img{
  animation-play-state: paused;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray; 
  border-radius: 10px;
 
}


*::-webkit-scrollbar-thumb {
  background-color: #00C1B8;
  border-radius: 100px;
}




.sample::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
 
}


*::-webkit-scrollbar-thumb {
  background-color: transparent;

}

.category h3{
  font-size: x-large;
  margin-bottom: 30px;
}

fieldset:last-of-type{
  margin-top:5%;
}